.popup__field {
  padding: 0 0 13px 0;
  margin: 0 0 30px 0;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.2);
  width: 100%;
  max-width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;

}

.popup__field:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 710px) {
  .popup__field {
    max-width: 238px;
  }
  .popup__field:last-of-type {
    margin-bottom: 45px;
  }

}
